
            .inputForm
            {
                width: 60%;
                margin-left: 25%;
                border: 1px solid grey;
                padding: 2%;
                margin-top: 10%;
            }