.carouseltemplate
{
    height:45vw;
}
.card
{
    text-align: center;
    /* height: 10vh; */
    padding-bottom:.5vh;
    margin-left: 5vw;
    margin-bottom: 5vh;
    font-family: 'Merriweather', serif;
}
.card p
{
    font-size: 1vw;
}
.card img
{
    height:30vh;
    width: 100%;
}
.date
{
    font-size: .9vw;
    text-align: right;
    opacity: .7;

}

@media only screen and (max-width:900px)
{
    .card p
    {
        font-size: 2vw;
    }
    .date
    {
        font-size: 2vw;
    }
}

/* .row-3
{
    margin-bottom: 5vw;
} */

