<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../../parts/head.ejs') %>
         <link rel="stylesheet" href="/stylesheets/aboutus.css">
         <link rel="stylesheet" href="/stylesheets/commonform.css">
        </head>
    <body>
       
           <!-- navbar -->
        <div>
            <%- include('../../parts/header.ejs') %>
        </div>
        <form class="inputForm rounded-top rounded-bottom" action="/admin/deletePatient" method="POST">
           <div class="row">
               <div class="col">
                <div class="form-group">
                    <label for="firstName">first name</label>
                    <input class="form-control" type="text" name="firstName" id="secondName">
                </div>
               </div>
               <div class="col">
                   <label for="secondName">second Name</label>
                   <input class="form-control" type="text" name="secondName" id="secondName">
               </div>
           </div>
           <button class="btn btn-danger" type="submit">Delete</button>
        </form>
        
    </body>
</html>