    <!-- footer -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>
                        Navigation
                    </h2>
                    <div class="row">
                        <div class="col-sm-6"><a href="#">Home</a></div>
                        <div class="col-sm-6"><a href="#">About Us</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"><a href="#">Services</a></div>
                        <div class="col-sm-6"><a href="#">News</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"><a href="#">Team</a></div>
                        <div class="col-sm-6"><a href="#">Privacy Policy</a></div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6"><a href="#">Contact Us</a></div>
                        <div class="col-sm-6"><a href="#">Membership</a></div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h2>Contact Us</h2>
                    <h5><a href="#">abc@gmail.com</a></h5>
                    <h5>address</h5>
                    <h5>+91-88437777885</h5>
                </div>
                <div class="col-lg-4">
                    <h2>Subscribe Newsletter</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam est, reprehenderit</p>
                    <div class="input-group">
                        <input type="email" class="form-control" placeholder="example@mail.com" aria-label="example@mail.com" aria-describedby="button-addon2">
                        <div class="input-group-append">
                          <button class="btn btn-danger" type="button" id="button-addon2">SEND</button>
                        </div>
                      </div>
                      <br> 
                      <h4>Follow Us</h4>
                      <br>
                      <div class=" socialmedia-icon row">
                          <div class="col-lg-3">
                             <a href="#">
                                <div>
                                    <img 
                                    src="/images/facebook.svg" alt="">
                                  </div>
                             </a>
                              
                          </div>
                          <div class="col-lg-3">
                              <a href="#">
                                  <div>
                                      <img src="/images/instagram.svg" alt="">
                                  </div>
                              </a>
                          </div>
                          <div class="col-lg-3">
                              <a href="#">
                                <div><img src="/images/twitter.svg" alt=""></div>
                              </a>
                          </div>
                          <div class="col-lg-3">
                             <a href="#">
                                <div><img src="/images/linkedin.svg" alt=""></div>
                             </a>
                          </div>
                      </div>
                </div>
            </div>
        </div>
       <h4>
        <div class="creater">
            Copyright 2020 All Rights Reserved | this website is designed by Ravindra with <span> <img class="heartImage" src="/images/heart.svg" alt="heart"></span>
        </div>
       </h4> 
    </footer>