<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OM DENTALS</title>
</head>
<body>
    <%- include('../parts/header.ejs')%>
    <h1 style="margin-top: 20%;">Page not found</h1>
    <style>
        h1
        {
            height:5vh;
            width:5vw;

        }
    </style>
</body>
</html>