<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head.ejs') %>
     <link rel="stylesheet" href="/stylesheets/aboutus.css">
</head>
<body>
    <div>
        <%- include('../parts/header.ejs') %>
    </div>
    <!-- carousel -->
    <div class="carouseltemplate carousel">
        <div class="tag-lines">
            <h2 >KNOW US</h2>
            <h1 ><strong>ABOUT</strong> <span>US</span></h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium rerum magnam sint ab impedit consequatur earum quas quisquam aliquid tenetur. Magnam praesentium rerum quod itaque ducimus</p>
        </div>
        <!-- card -->
       </div>
    <!-- carousal work completed -->


       <!-- dentist team -->
       <div class="dentistteam">
            <div class="dentistteam-heading">
                <h1>A TEAM OF</h1>
                <h1><strong>DEDICATED DENTIST</strong></h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="dentistteam-col col-lg-6">
                        <div class="dentisttemplate">
                            <img class="rounded-circle img-fluid" src="/images/img_1.jpg" alt="basic picture">
                            <h4>Dr. Om Mishra</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tenetur enim perspiciatis iusto ea, officia similique est cumque odit rem aperiam earum obcaecati ullam omnis modi, nihil necessitatibus eveniet iure?
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi ea vel sequi consectetur sunt laudantium qui, exercitationem eos fugiat suscipit unde nesciunt aliquid
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="dentisttemplate">
                            <img class="rounded-circle img-fluid" src="/images/img_1.jpg" alt="basic picture">
                            <h4>Dr. Om Mishra</h4>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas tenetur enim perspiciatis iusto ea, officia similique est cumque odit rem aperiam earum obcaecati ullam omnis modi, nihil necessitatibus eveniet iure?
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi ea vel sequi consectetur sunt laudantium qui, exercitationem eos fugiat suscipit unde nesciunt aliquid
                            </p>
                        </div>
                    </div>
                </div>
            </div>
       </div>

        <!-- services section -->
        <div class="services">
            <h1>OUR <strong>SERVICES</strong>
            </h1>
            <div class="services-icons">
                <div class="services-container container">
                    <div class="row row-1">
                        <div class="col-lg-4">
                            <div class="icon-template">
                                <img src="/images/examinating-tooth.svg" alt="" class=" img-fluid iconsvg">
                                <h3>tooth whitening</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                            </div>
                        </div>
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/dental-probe.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/extraction-forceps.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/gauze.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/towel-clamps.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/dental-probe.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    <!-- redline division    -->
    <div class="partition">
        
    </div>
    <!-- footer -->
    <%- include('../parts/footer.ejs') %>
</body>
</html>