<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <%- include('../parts/head.ejs')%>
    <link rel="stylesheet" href="/stylesheets/admin.css">
    <title>OM DENTAL</title>
</head>
<body>
    <div id="sidebar" class="collapsed">
        <ul>
            <a href="/admin">
                <li>Dashboard</li>
            </a>
            <a href="#">
                <li>
                    <div class="dropdown show">
                        <a class="btn btn-default dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Appointments
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/admin/bookAppointment">Book Appointment</a>
                          <a class="dropdown-item" href="/admin/allAppointments">All appointment</a>
                          <a class="dropdown-item" href="/admin/updateAppointment">Update Appointment</a>
                          <a href="/admin/cancelAppointment" class="dropdown-item">Cancel Appointment</a>
                          <a href="/admin/allAskedForAppointment" class="dropdown-item">Confirm Appointments</a>
                        </div>
                      </div>
                </li>
            </a>
            <a href="#">
                <li>
                    <div class="dropdown show">
                        <a class="btn btn-default dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Patients
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/admin/allPatients">All Patients</a>
                          <a class="dropdown-item" href="/admin/newPatient">Add Patient</a>
                          <a class="dropdown-item" href="/admin/deletePatient">Delete patient</a>
                          <a class="dropdown-item" href="/admin/updatePatient">Update Patient</a>
                          <a href="/admin/findPatient" class="dropdown-item">View patient</a>
                        </div>
                      </div>
                </li>
            </a>
        </ul>
    </div>
    <div id="content">
      <button class="btn btn-secondary"  title="Toggle sidebar">Options</button>
        <%if(msg != '')
        {%>
            <%= msg%>
        <%}%>

            <h2>Welcome Admin</h2>
            <h4>Cheers! you are making peoples smile confident</h4>

             <br><br><br>
             <h5>If u are free write a article</h5>
             <a href="/admin/newsArticle"><button class="btn btn-success">Write Article</button></a>
            
    </div>

    <script>
        
        const button = document.querySelector('button');

        button.addEventListener('click', _ => {
        document.getElementById('sidebar').classList.toggle('collapsed');
        })

    </script>
</body>
</html>