<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head.ejs') %>
</head>
<body>
    <div>
        <%- include('../parts/header.ejs') %>
    </div>
    <h1>
        Dashboard
    </h1>
    <h3>Welcome <%=email%></h3>
     <a href="/user/logout"><button class="btn btn-secondary">Logout</button></a>
</body>
</html>