<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../parts/head.ejs') %>
     <link rel="stylesheet" href="/stylesheets/aboutus.css">
    <link rel="stylesheet" href="/stylesheets/services.css">
    </head>
<body>
   
       <!-- navbar -->
       <div>
        <%- include('../parts/header.ejs') %>
    </div>
    <!-- carousel -->
    <div class="carouseltemplate carousel">
        <div class="tag-lines">
            <h2 >SERVICES THAT FULLY SATISFY YOU</h2>
            <h1 > <span>OUR</span>  <strong>SERVICES</strong> </h1>
        </div>
    </div>
    <!-- carousal work completed -->
    <!-- working with the next section -->
    <div class="sec-3 container">
        <div class=" sec-3-part1 row">
            <div class="col-lg-6">
               <img src="/images/img_1.jpg" class="img-fluid" alt=""> 
            </div>
            <div class="col-lg-6 icons">
                <div class="row">
                    <div  class="col-md-6 ">
                        <div style="margin-left: 10px;"  class="card-4 card-s-1" >
                            <img class="card-img-top card-img-self" src="/images/examinating-tooth.svg" alt="Card image cap">
                            <div class="card-body">
                              <h3 class="card-text">
                                  Tooth Whitening
                              </h3>
                            </div>
                          </div>
                         
                    </div>
                    <div class="col-md-6">
                        <div style="margin-left: 10px;" class="card-4 card-s-2" >
                            <img class="card-img-top card-img-self" src="/images/dental-probe.svg" alt="Card image cap">
                            <div class="card-body">
                              <h3 class="card-text">
                                  Tooth Whitening
                              </h3>
                            </div>
                          </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div style="margin-left: 10px;" class="card-4 card-s-3" >
                            <img class="card-img-top card-img-self" src="/images/extraction-forceps.svg" alt="Card image cap">
                            <div class="card-body">
                              <h3 class="card-text">
                                  Tooth Whitening
                              </h3>
                            </div>
                          </div>
                         
                    </div>
                    <div class="col-md-6">
                        <div style="margin-left: 10px;" class="card-4 card-s-4" >
                            <img class="card-img-top card-img-self" src="/images/towel-clamps.svg" alt="Card image cap">
                            <div class="card-body">
                              <h3 class="card-text">
                                  Tooth Whitening
                              </h3>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- services section -->
        <div class="services">
            <h1 >OUR <strong>SERVICES</strong>
            </h1>
            <div class="services-icons">
                <div class="services-container container">
                    <div class="row row-1">
                        <div class="col-lg-4">
                            <div class="icon-template">
                                <img src="/images/examinating-tooth.svg" alt="" class=" img-fluid iconsvg">
                                <h3>tooth whitening</h3>
                                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                            </div>
                        </div>
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/dental-probe.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/extraction-forceps.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/gauze.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/towel-clamps.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                        <div class="col-lg-4"><div class="icon-template">
                            <img src="/images/dental-probe.svg" alt="" class=" img-fluid iconsvg">
                            <h3>tooth whitening</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum commodi illum maxime consequuntur numquam ut neque sit iste, molestiae magni deserunt cumque q</p>
                        </div></div>
                    </div>
                </div>
            </div>
        </div>
    <!-- footer -->
   <%- include('../parts/footer.ejs') %>  
</body>
</html>